# Openfort Configuration
NEXT_PUBLIC_OPENFORT_PUBLISHABLE_KEY=your_openfort_publishable_key
OPENFORT_SECRET_KEY=your_openfort_secret_key
NEXT_PUBLIC_OPENFORT_POLICY_ID=your_openfort_policy_id

# Shield Configuration
NEXT_PUBLIC_SHIELD_PUBLISHABLE_KEY=your_shield_publishable_key
# If you want to use AUTOMATIC embedded wallet recovery, an encryption session is required.
# See: https://www.openfort.io/docs/products/embedded-wallet/react-native/quickstart/automatic
# For backend setup, check: https://github.com/openfort-xyz/openfort-backend-quickstart
NEXT_PUBLIC_CREATE_ENCRYPTED_SESSION_ENDPOINT=http://localhost:YOUR_PORT/api/protected-create-encryption-session

# Pimlico Configuration
NEXT_PUBLIC_PIMLICO_API_KEY=your_pimlico_api_key
NEXT_PUBLIC_SPONSORSHIP_POLICY_ID=your_sponsorship_policy_id

# Network Configuration
NEXT_PUBLIC_SEPOLIA_RPC_URL=your_sepolia_rpc_url


OPENFORT_SHIELD_SECRET_KEY=your_shield_secret_key
OPENFORT_SHIELD_ENCRYPTION_SHARE=your_shield_encryption_share