@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Geist", sans-serif;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  body {
    font-family: "Geist", sans-serif;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: none;
    min-height: 100vh;
  }

  @supports (min-height: 100dvh) {
    body {
      min-height: 100dvh;
    }
  }
}
